.calculator {
    width: 300px;
    margin: 100px auto;
    border: 2px solid #90e9e5;
    border-radius: 5px;
    padding: 10px;
}

.display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 15px;
    border: none;
    background-color: #58f3e1;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

#equals {
    grid-column: span 2;
}
